body{
    background-color: rgb(44, 44, 88);
    text-align: center;
    border-radius: 30px;
}

header {
    background-color: aliceblue;
    margin: auto;
    border-radius: 30px;
    width: 500px;

}

div {
    font: normal 20px Arial;
    color: white;
    background-color: rgb(67, 100, 100);
    margin: auto;
    border-radius: 30px;
    width: 500px;
}

#mensagem {
    background-color: red;
    margin: 20px auto;
    border-radius: 30px;
}

@media screen and (max-width: 768px) {

    body {
        font: normal 15px Arial;
    }
    
    header {
        background-color: aliceblue;
        margin: auto;
        border-radius: 30px;
        width: 300px;
    
    }

    #infs {
        padding: 20px
    }
    
    div {
        width: 200px;
        font: normal 15px Arial;
    }
    
    #mensagem {
        font: normal 15px;
        margin: 30px auto;
        border-radius: 30px;
        width: 200px;
    }
    
}